/* imported tailwindcss */
@import "tailwindcss";

/* base styles */
@layer base {
  :root {
    /* primary colors */
    --green-400-color: hsl(180, 29%, 50%);

    /* neutral colors */
    --green-50-background-color: hsl(180, 52%, 96%);
    --gray-400-color: hsl(180, 8%, 52%);
    --green-900-color: hsl(180, 14%, 20%);
    --white-color: hsl(0, 100%, 100%);

    /* fonts */
    --font-size: 0.93rem;
    --font-family: "League Spartan", sans-serif;
    --font-weight-500: 500;
    --font-weight-700: 700;
    --font-weight-900: 900;
  }
}

/* utilities style */
@layer utilities {
  /* new job post container- styles */
  .new-job-post-container {
    @apply mx-auto mt-[4rem] max-w-[23rem] rounded-[10px] border-l-[.5rem] border-[var(--green-400-color)] bg-[var(--white-color)] p-6 shadow-2xl sm:mt-[2rem] sm:max-w-[40rem] lg:max-w-[70rem];
  }

  /* old job post container styles */
  .old-job-post-container {
    @apply mx-auto mt-[4rem] max-w-[23rem] rounded-[10px] bg-[var(--white-color)] p-6 shadow-2xl sm:mt-[2rem] sm:max-w-[40rem] lg:max-w-[70rem];
  }

  /* styles for new job post images   */
  .new-job-post-image-styles {
    @apply absolute -top-[4.4rem] -left-1 max-w-[4rem] sm:static sm:max-w-max;
  }

  /* styles for old job post images   */
  .old-job-post-image-styles {
    @apply absolute -top-[3.5rem] -left-1 max-w-[4rem] sm:static sm:max-w-max;
  }

  /* new posting padding top  */
  .new-padding-top {
    @apply pt-[.5rem] sm:pt-0;
  }

  /* new posting padding top  */
  .old-padding-top {
    @apply pt-[1rem] sm:pt-0;
  }

  /* padding left for shortly, insure, faceIl, eyecam.co */
  .padding-left {
    @apply pl-2;
  }

  /* text styles */
  .text-style {
    @apply font-[var(--font-weight-900)] text-[var(--green-400-color)];
  }

  /* link text styles */
  .link-text {
    @apply my-2 block cursor-pointer font-[var(--font-weight-700)] text-[var(--green-900-color)] hover:text-[var(--green-400-color)] sm:my-0;
  }

  /* duration text */
  .job-text {
    @apply flex flex-wrap items-center gap-4 font-[var(--font-weight-500)] text-[var(--gray-400-color)];
  }

  /* padding bottom for all period signs */
  .padding-bottom {
    @apply pb-2;
  }

  /* hr styles */
  hr {
    @apply my-4 text-[var(--gray-400-color)];
  }

  /* status styles*/
  .status {
    @apply cursor-pointer bg-[var(--green-50-background-color)] p-3 font-[var(--font-weight-700)] text-[var(--green-400-color)] hover:bg-[var(--green-400-color)] hover:text-[var(--green-50-background-color)];
  }

  /* article flex conatainer */
  .flex-article {
    @apply flex flex-wrap items-center gap-4;
  }

  /* to be used by javascript dynamically */
  .filter-bar.active {
    @apply flex;
  }

  /* it used to hide element dynamically in javascript */
  .hidden-element {
    @apply hidden;
  }

  /* tags to be used by javascript */
  .tags {
    @apply flex items-center gap-4 rounded-[5px] bg-[var(--green-50-background-color)] font-[var(--font-weight-700)] text-[var(--green-400-color)];
  }

  /* filter-value to be used by javascript */
  .filter-value {
    @apply pl-2;
  }

  /* close-button to be used by javascript  */
  .close-button {
    @apply cursor-pointer rounded-tr-[5px] rounded-br-[5px] bg-[var(--green-400-color)] p-3 text-[var(--white-color)] hover:bg-[var(--green-900-color)];
  }
}
